.main {
    width: 100%;    
}
.parent {
    width: auto;
    margin: auto;
}
.child {
    background: #eee;
    border: 1px solid #ccc;
    padding: 10px;
    float: left;
    width: 220%;
    margin-right: 2%;
}

.child:last-child {
    margin-right: 0;
}
p {
    display: inline-block;
    margin-left: 8px;
}
